@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Prociono&family=Unkempt:wght@400;700&display=swap");


@import "tailwindcss";
@import "tw-animate-css";


@theme {
  --color-primary: #1E3A8A;
  /* navy */
  --color-primary-light: #3B82F6;
  --color-secondary: #059669;
  /* emerald */
  --color-secondary-dark: #047857;
  --color-accent-beige: #F5F5DC;
  --color-accent-terracotta: #D97706;
  --color-neutral-dark: #374151;
  --color-neutral-light: #E5E7EB;

  --font-urbanist: "Urbanist", sans-serif;
  --font-ebgaramond: "EB Garamond", serif;
  --font-abril: "Abril Fatface", serif;
  --font-prociono: "Prociono", serif;
  --font-unkempt: "Unkempt", cursive;
}


body{
  font-family:  "EB Garamond", serif;
}

